@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

:root {
  font-family: 'Noto Music', sans-serif;

  color-scheme: light dark;
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #fafafa;
  }
}

body {
  width: 375px;
  height: 450px;
  margin: 0;
  overflow: hidden;
}
